.home {
  text-align: center;
  padding-bottom: 5px;
}

.infinite-scroll {
  overflow: hidden;
  position: relative;
}

.spinner {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup {
  position: -webkit-sticky;
  position: sticky;
  top: 40%;
  width: 75%;
  vertical-align: middle;
  z-index: 1000;
}
